###############################################################################
###         University of Hawaii, College of Engineering
### @brief  Lab 03a - Memory Scan - EE 491F - Spr 2022
###
### @file .gitignore
### @version 1.0
###
### Tells git which files to ignore
###
### @author Mark Nelson <marknels@hawaii.edu>
### @date   05_Feb_2022
###############################################################################


# Ignore all object files
*.o

# Ignore the executable file
memscan
a.out

# Ignore a hidden file for MacOS filesystems
.DS_Store

# Ignore vi swap files
.*.swp
